
.page-title, .page-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.dashboard-container {
    display: flex;
    flex-direction: column;  /* ordenacion vertical */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

h1.app-name {
    margin-left: 8px;
    /*  margin-top: 15px; */
}

.home-card {
  max-width: 800px;
  margin: 40px auto;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  padding: 10px;
  text-align: center;
}

mat-card img {
  max-height: 300px;
  width: auto;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
  
nav li {
    margin: 8px 0;
}
  
a {
    color: #007bff;
    text-decoration: none;
}
  
a:hover {
    text-decoration: underline;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.welcome-image {
  width: 100%;
  max-width: 300px;
  margin: 0 auto 10px auto;
  display: block;
  border-radius: 10px;
}

.description {
  font-size: 14px;
  color: #444;
}
